 
header .modal input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
header .modal .loginbuton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}
header .dropdown-menu .dropdown-item:active{
 color: black;
 background-color: white;
}
/*header .dropdown-menu .dropdown-item:hover{
 
 background-color: #377568;
}*/
header .modal .psw a{
 color: black;
}

.loginbuton:hover {
  opacity: 0.9;
}
 
 
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

 /* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}
 
span.psw {
  float: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index:999999999999999999!important; /* Sit on top */
  left: 0;
  top: 0;
/*  width: 50%;*/ /* Full width */
 /* height: 50%;*/ /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 40px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 35%!important; /* Could be more or less, depending on screen size */
  -webkit-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
-moz-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}




/*Üye ol sayfaları için*/
 .basarili{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index:999999999999999999!important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 40px;
 }
 .basarili-icerik{
    padding: 20px;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%!important; /* Could be more or less, depending on screen size */
    -webkit-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
    box-shadow: -13px 21px 24px 0px rgba(0,0,0,0.69);
 }
 
 
      /* Modal Content/Box */
      .modal-content1 {
        margin: 5% auto 10% auto; 
        background-color: #fefefe;
        border: 1px solid #888;
        width: 40%!important; /* Could be more or less, depending on screen size */
      
       box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

      }
  
       .modal-content1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      /* Add Zoom Animation 